* {
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: rgb(38, 37, 37);
}

/* WHAT ARE WE BOX */

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 20px 0;
  width: 80%;
  background-color: lightgrey;
  font-size: 50px;
}

/* CONTAINER 1 */
.box1 {
  margin: 0 auto;
  padding: 0px 100px;
  width: 80%;
  display: flex;
  justify-content: space-between;
  background-color: lightgrey;
  border-bottom: 3pt solid black;
}

#box1-header {
  display: flex;
  justify-content: center;
  font-size: 60px;
}

.box1 img {
  width: 300px;
}

#box1-text p {
  text-align: left;
  padding: 20px;
}

/* CONTAINER 2 */
#box2-text {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 100px;
  width: 80%;
  background-color: grey;
  border-bottom: 3pt solid black;
  font-size: 50px;
}

/* CONTAINER 3 */

.box3 {
  margin: 0 auto;
  padding: 100px;
  width: 80%;
  display: flex;
  justify-content: space-between;
  background-color: lightgrey;
  border-bottom: 3pt solid black;
}

.box3 img {
  width: 300px;
  float: left;
}

.box3 p {
  padding: 20px;
}

/* CONTAINER 4 */
.box4 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  padding: 40px 100px;
  width: 80%;
  background-color: lightgrey;
  border-bottom: 3pt solid black;
  font-size: 50px;
}

h2 {
  font-size: 50px;
}

/* CONTAINER 5 ASH*/
#box5 {
  margin: 15px auto;
  padding: 20px 100px;
  width: 80%;
  display: flex;
  justify-content: space-between;
  background-color: lightgrey;
  border-bottom: 3pt solid black;
}

/* CONTAINER 6 KY*/
#box6 {
  margin: 15px auto;
  padding: 20px 100px;
  width: 80%;
  display: flex;
  justify-content: space-between;
  background-color: grey;
  border-bottom: 3pt solid black;
}

/* CONTAINER 6 SHANEEN*/
#box7 {
  margin: 15px auto;
  padding: 20px 100px;
  width: 80%;
  display: flex;
  justify-content: space-between;
  background-color: lightgrey;
  border-bottom: 3pt solid black;
}
