<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/CSS/footer-style.css" />
    <link rel="stylesheet" href="/CSS/header-style.css" />
  </head>
  <body>
    <script src="/JS/header.js"></script>

    <section>
      <div>
        <h1>Hey, welcome to the neighborhood</h1>
        <button>New Here?</button>
      </div>
    </section>
    <hr />
    <section></section>
    <hr />
    <section>
      <div>
        <h1>Join the Housing union</h1>
        <button>Join now</button>
      </div>
    </section>
    <hr />
    <section></section>
    <hr />
    <section>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Error in illo
        omnis nobis expedita, voluptates, provident excepturi, ducimus
        perferendis doloremque accusantium ex sapiente quam numquam voluptatem
        pariatur et eius veniam!
      </p>
      <iframe
        width="560"
        height="315"
        src="https://www.youtube.com/embed/cCHAkCxDPjg"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </section>
    <hr />
    <script src="/JS/footer.js"></script>
  </body>
</html>
