<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <link rel="stylesheet" href="/CSS/footer-style.css">
    <link rel="stylesheet" href="/CSS/header-style.css"> -->
    <link rel="stylesheet" href="/CSS/homepage-style.css">
</head>
<body>
    <!-- <script src="/JS/header.js"></script> -->

<section class="box1">
    <div id="box1-text">
        <h1>Chart of where rent money is going </h1>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor placeat incidunt cumque reiciendis! Autem, esse est. Ipsa nulla optio alias! Animi temporibus tenetur porro minus reprehenderit similique eligendi accusantium iusto.
    </div>
    <div id="pic1">
        <img src="https://www.torontorentals.com/blog/wp-content/uploads/66isabella-1024x691.jpg" alt="">
    </div>
</section>

<section id="box2">
    <div id="box2-text">
        <h1>Join the Housing community</h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Labore neque doloribus ducimus eligendi minima alias? Recusandae iusto nulla quam unde, quod deserunt autem omnis, quas non optio impedit repudiandae fugit?</p>
            <button>Join now</button>
    </div>
</section>

<section id="box3">
    <div id="box3-text">
        <h2>example of bad place</h2>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Optio, excepturi libero quidem consequatur quibusdam, ut ducimus corrupti veritatis officia tempore eius reprehenderit consequuntur ad dolore iste, non distinctio delectus eligendi.</p>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/6XPM7PbKZr8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</section>

<section id="box4">
    <div id="box4-text">
        <h2>Example of good place</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam magni officiis quos illo nisi quas totam suscipit enim, similique rem officia numquam necessitatibus illum accusamus fuga facilis eveniet eligendi quaerat?</p>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/cCHAkCxDPjg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    </div>
</section>
    <!-- <script src="/JS/footer.js"></script> -->
</body>
</html>