*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

footer{
    margin: auto;
    height: 100vh;
    background-color: black;
    color: white;
}

/* SUBSCRIBE */
.footer-section-newsletter{
    display: flex;
    justify-content: space-between;
    padding: 5% 2%;
    margin-top: 20px;
}

.form-email-input{
    padding: 10px;
    width: 95%;
    background-color: white;
}

#form-subscribe-button{
    padding: 10px;
    width: 100px;
    border: 1pt solid white;
    border-radius: 5%;
    background: black;
    color: white;
    margin-top: 10px;
    cursor: pointer;

}

#form-subscribe-button:hover{
    background-color: gainsboro;
    color: black;
}

.subscribe-break{
    opacity: 0.3;
}


/* LOWER FOOTER SECTION */

.footer-links {
        list-style: none;
}

.social-buttons{
        list-style: none;
}

.footer-content{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

.contact-form{
    display: flex;
    flex-flow: column;
    width: 80%;

}

#form-submit-btn{
    padding: 10px 15px;
    margin-top: 8px;
    background-color: gainsboro;
    color: black;
    cursor: pointer;
}

.social-buttons{
    display: flex;
    justify-content: flex-start;
}

.social-buttons li a{ 
    color: white;
    padding: 0 0.3rem;
    font-size: x-large;
}
